<div class="container justify-content-md-center pl-5">
    <div class="row">
        <div class="col-sm-3 mt-4" style="margin-bottom: 1.5em">
            <a data-toggle="modal" href="#avatarModal">
            <img class="card-img-top rounded-circle" src="<% if @user.avatar.attached? %><%=p.photo_url%><% else %>https://www.shareicon.net/data/256x256/2015/12/21/690925_safety_512x512.png<% end %>" alt="User image"></a>
        </div>
        <div class="col-sm-7 mt-5">
            <h1><%=@user.username%> <%= link_to 'Edit Profile', edit_user_registration_path(@user), :class => "btn btn-outline-secondary ml-3 mb-2"%></h1>
            <h5 class="my-4"><strong><%=@user.pieces.length%></strong> posts <span class="ml-4"><strong>0</strong> likes</span></h5>
            <p><strong><%=@user.first_name%> <%=@user.last_name%></strong><br>
            <%=@user.bio%></p>
        </div>
    </div>
</div>
<div class="container mt-5">
    <%= render "gallery" %>
</div>

<div class="modal fade" id="avatarModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body container justify-content-md-center">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<script>
$('#avatarModel').on('shown.bs.modal', function () {
  $('#avatarModel').trigger('focus')
})
</script>