<div class="container">
    <div class="row">
        <div class="card col-sm-4" style="width: 18rem;">
            <img class="card-img-top" src="<% if @user.avatar.attached? %><%=p.photo_url%><% else %>https://www.shareicon.net/data/256x256/2015/12/21/690925_safety_512x512.png<% end %>" alt="User image">
        </div>
        <div class="card">
            <h5 class="card-header">@<%=@user.username%></h5>
            <div class="card-body">
                <p class="card-text"><%=@user.bio%></p>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><strong>Email:</strong> <%=@user.email%></li>
                    <li class="list-group-item"><strong>DOB:</strong> <%=@user.birthdate%></li>
                    <li class="list-group-item"><%= link_to 'Edit Profile', edit_user_registration_path(@user), :class => "card-link" %></li>
                </ul>            
            </div>
        </div>
    </div>
</div>
<div class="container">
    <%= render "gallery" %>
</div>