<%= form_with model: Piece.new, remote:true do |form| %>
    <div class="field">
        <label>Lat: </label>
        <%= form.number_field :lat, placeholder: "Lat", step: :any, :id => 'lat'%>
    </div>
    <div class="field">
        <label>Lng: </label>
        <%= form.number_field :lng, placeholder: "Lng", step: :any, :id => 'lng'%>
    </div>
    <div class="field">
        <label>Title: </label>
        <%= form.text_field :title, placeholder: "Piece title"%>
    </div>
    <div class="field">
        <label>Artist: </label>
        <%= form.text_field :artist, placeholder: "Artist"%>
    </div>
    <div class="field">
        <label>Address: </label>
        <%= form.text_field :address, placeholder: "Address (optional)"%>
    </div>
    <div class="field">
        <label>Attach Photo: </label>
        <%= form.file_field :photo %>
    </div>
    <div class="field">
        <label>Type: </label>
        <%= form.select(:marker_type, ['Mural','Tag','Heaven','Paste-Up', 'Stencil']) %>
    </div>
    <%= form.submit "Submit", :id=>'pieces' %>
<% end %>