<div class="card col-sm-5 px-4 pt-4 mx-auto" style="margin-top: 6em">
  <h2>Log in</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form-group">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
    </div>

    <% if devise_mapping.rememberable? -%>
      <div class="form-group">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end %>

    <div class="form-group">
      <%= f.submit "Log in", class: "btn btn-dark" %>
    </div>
  <% end %>
  <a href="#" tabindex="0" class="btn btn-dark w-2" role="button" data-toggle="popover">Sample Login Credentials</a>
  <br>
  <%= render "devise/shared/links" %>
</div>

<script>
$(document).ready(function(){
    $('[data-toggle="popover"]').popover({
        placement : 'top',
        html : true,
        title : 'Sample Login <a href="#" class="close" data-dismiss="alert">&times;</a>',
        content : '<p><strong>Email:</strong> test@test.com<br><strong>Password: </strong>password</p>'
    });
    $(document).on("click", ".popover .close" , function(){
        $(this).parents(".popover").popover('hide');
    });
});
</script>